.container {
  width: 100%;
  margin:0;
  padding:0;
}

p {
  text-align:center;
  padding:10px;
}

aside.left {
  text-align:center;
  float:inherit;
}

aside.right {
  text-align:center;
  float:inherit;
}